#  Read Data From JSON

###  Read JSON file

In [3]:
import json

In [4]:
#read the file
dataset = open('dataset.json','r')

In [5]:
jsondata = dataset.read()

In [6]:
#parse
obj= json.loads(jsondata)

In [7]:
print(str(obj['items']))

{'item': [{'id': '0001', 'type': 'donut', 'name': 'Cake', 'ppu': 0.55, 'batters': {'batter': [{'id': '1001', 'type': 'Regular'}, {'id': '1002', 'type': 'Chocolate'}, {'id': '1003', 'type': 'Blueberry'}, {'id': '1004', 'type': "Devil's Food"}]}, 'topping': [{'id': '5001', 'type': 'None'}, {'id': '5002', 'type': 'Glazed'}, {'id': '5005', 'type': 'Sugar'}, {'id': '5007', 'type': 'Powdered Sugar'}, {'id': '5006', 'type': 'Chocolate with Sprinkles'}, {'id': '5003', 'type': 'Chocolate'}, {'id': '5004', 'type': 'Maple'}]}]}

In [8]:
list=obj['items']
# print(list)
# print(list[0])
print(len(list))

1

In [9]:
#read data 
for i in range(len(list)):
    print("item:",list.get("item"))

item: [{'id': '0001', 'type': 'donut', 'name': 'Cake', 'ppu': 0.55, 'batters': {'batter': [{'id': '1001', 'type': 'Regular'}, {'id': '1002', 'type': 'Chocolate'}, {'id': '1003', 'type': 'Blueberry'}, {'id': '1004', 'type': "Devil's Food"}]}, 'topping': [{'id': '5001', 'type': 'None'}, {'id': '5002', 'type': 'Glazed'}, {'id': '5005', 'type': 'Sugar'}, {'id': '5007', 'type': 'Powdered Sugar'}, {'id': '5006', 'type': 'Chocolate with Sprinkles'}, {'id': '5003', 'type': 'Chocolate'}, {'id': '5004', 'type': 'Maple'}]}]

In [10]:
#read data 
# for i in range(len(list)):
#     print("batter:",list.get("batter"))

In [11]:
for i in range(len(list)):
    print("item:",list.get("item"))
    for i in range(len('item')):
        print("batters:",list.get("batters"))

item: [{'id': '0001', 'type': 'donut', 'name': 'Cake', 'ppu': 0.55, 'batters': {'batter': [{'id': '1001', 'type': 'Regular'}, {'id': '1002', 'type': 'Chocolate'}, {'id': '1003', 'type': 'Blueberry'}, {'id': '1004', 'type': "Devil's Food"}]}, 'topping': [{'id': '5001', 'type': 'None'}, {'id': '5002', 'type': 'Glazed'}, {'id': '5005', 'type': 'Sugar'}, {'id': '5007', 'type': 'Powdered Sugar'}, {'id': '5006', 'type': 'Chocolate with Sprinkles'}, {'id': '5003', 'type': 'Chocolate'}, {'id': '5004', 'type': 'Maple'}]}]
batters: None
batters: None
batters: None
batters: None

In [12]:
with open('dataset.json') as json_file:
    json_data = json.load(json_file)
    for item in json_data:
        for data_item in item['item']:
            print (data_item['name'], data_item['value'])
#     for key, value in json_data.items():
#         print (key);
#         for item in value:
#             print("item:",list.get("key"))
#             print (item)

TypeError: string indices must be integers

##  Take 3 excel file & combine column & retrive the data

In [72]:
# importing the module
import pandas as pd
  
# reading the files
f1 = pd.read_excel("student_scores_1.xlsx")
f2 = pd.read_excel("student_records_1.xlsx")
# f3 = pandas.read_excel("student_records_1.xlsx")
  
# merging the files
f4 = f1[["ResearchScore","Hours"]].merge(f2[["ResearchScore","Name", "OverallGrade","ProjectScore","Recommend"]],on = "ResearchScore",how = "left")
  
# creating a new file
f4.to_excel("Results.xlsx", index = False)

In [74]:
f1.columns

Index(['Hours', 'ResearchScore'], dtype='object')

In [75]:
f2.columns

Index(['Name', 'OverallGrade', 'Obedient', 'ResearchScore', 'ProjectScore',
       'Recommend'],
      dtype='object')

In [73]:
df = pd.read_excel('Results.xlsx', usecols='A:C')

In [76]:
f4.columns

Index(['ResearchScore', 'Hours', 'Name', 'OverallGrade', 'ProjectScore',
       'Recommend'],
      dtype='object')

In [55]:
df

   ResearchScore  Hours    Name
0             85    2.5    John
1             47    5.1     NaN
2             27    3.2     NaN
3             75    8.5  Holmes
4             75    8.5   Trent
5             30    3.5     NaN
6             20    1.5  Marvin
7             88    9.2     NaN
8             60    5.5  Robert

In [64]:
data =df.to_excel("result.xlsx", index = False)

In [66]:
# data = pd.read_excel('Results.xlsx)

In [67]:
data

In [68]:
read_file = pd.read_excel ("result.xlsx")
read_file.to_csv ("Test.csv",index = None,header=True)

df = pd.DataFrame(pd.read_csv("Test.csv"))

In [69]:
df

   ResearchScore  Hours    Name
0             85    2.5    John
1             47    5.1     NaN
2             27    3.2     NaN
3             75    8.5  Holmes
4             75    8.5   Trent
5             30    3.5     NaN
6             20    1.5  Marvin
7             88    9.2     NaN
8             60    5.5  Robert