In [4]:
import numpy as np
import pandas as pd

#method-1 REquires model
from sklearn.metrics import plot_confusion_matrix
# method-2  Require actual and predicted Features
from sklearn.matrics import confusion_matrix, ConfusionMatrixDisplay

#Build Logistic regression
from sklearn.linear_model import LogisticRegression
#train test partition
from sklearn.model_selection import train__test_split

#Get data import path
import os
for dirname,_,filenames in os.walk('dataset/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

ImportError: cannot import name 'plot_confusion_matrix' from 'sklearn.metrics' (C:\Users\subha\anaconda3\lib\site-packages\sklearn\metrics\__init__.py)

In [5]:
#Import dataset

In [6]:
data = pd.read_csv('student_records.csv')
data.head()

     Name OverallGrade Obedient  ResearchScore  ProjectScore Recommend
0   Henry            A        Y             90            85       Yes
1    John            C        N             85            51       Yes
2   David            F        N             10            17        No
3  Holmes            B        Y             75            71        No
4  Marvin            E        N             20            30        No

In [7]:
#partition Data into X and Y

In [58]:
y=data['Recommend']
x=data.drop('Recommend',axis=1)

In [59]:
# x=data.drop('Name',axis=1)

In [60]:
# 3. Feature Extraction and Engineering

# features_names = ['Name','OverallGrade','Obedient','ResearchScore','ProjectScore']
# training_features = data[features_names]
# training_features

In [61]:
#find catagorical
numeric_feature_names = ['ResearchScore','ProjectScore']
categorical_feature_names = ['OverallGrade','Obedient']

In [62]:
x[numeric_feature_names]

   ResearchScore  ProjectScore
0             90            85
1             85            51
2             10            17
3             75            71
4             20            30
5             92            79
6             60            59
7             75            33

In [63]:
x[categorical_feature_names]

  OverallGrade Obedient
0            A        Y
1            C        N
2            F        N
3            B        Y
4            E        N
5            A        Y
6            B        Y
7            C        Y

In [64]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()

# ss, now u go and study these numeric columns --> i.e. fit() over it
ss.fit(training_features[numeric_feature_names])

# ss, now appear for the test
training_features[numeric_feature_names] = ss.transform(training_features[numeric_feature_names])
training_features

,Name,ResearchScore,ProjectScore,OverallGrade_A,OverallGrade_B,OverallGrade_C,OverallGrade_E,OverallGrade_F,Obedient_N,Obedient_Y
0,Henry,0.899583,1.376650,1,0,0,0,0,0,1
1,John,0.730648,-0.091777,0,0,1,0,0,1,0
2,David,-1.803390,-1.560203,0,0,0,0,1,1,0
3,Holmes,0.392776,0.772004,0,1,0,0,0,0,1
4,Marvin,-1.465519,-0.998746,0,0,0,1,0,1,0
5,Simon,0.967158,1.117516,1,0,0,0,0,0,1
6,Robert,-0.114032,0.253735,0,1,0,0,0,0,1
7,Trent,0.392776,-0.869179,0,0,1,0,0,0,1

In [67]:
x=data.drop('Name',axis=1)

In [68]:
# Engineering Categorical features

# training_features = pd.get_dummies(training_features, columns=categorical_feature_names)
# training_features

In [69]:
training_features.columns

Index(['Name', 'ResearchScore', 'ProjectScore', 'OverallGrade_A',
       'OverallGrade_B', 'OverallGrade_C', 'OverallGrade_E', 'OverallGrade_F',
       'Obedient_N', 'Obedient_Y'],
      dtype='object')

In [70]:
numeric_feature_names

['ResearchScore', 'ProjectScore']

In [71]:
# Partition Data Into Train & Test

In [72]:

# from sklearn.model_selection import train_test_split
# x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

###  Logistic Regression

In [73]:
#create an Instance
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [74]:
#fit model on training data
model = lr.fit(x, y )

ValueError: could not convert string to float: 'A'