In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt
# data = pd.read_csv('/content/drive/MyDrive/Dataset/JSON.json')

In [6]:
import json
import csv

In [9]:
data=pd.read_json('/content/drive/MyDrive/Dataset/hw_data.json')
for i in range(4):
  print(list(data['items']['item'][0]['batters']['batter'][i].values())[1])

Regular
Chocolate
Blueberry
Devil's Food

In [10]:
batter_dict={
    'item_name':[data['items']['item'][0]['name'] for i in range(4)],
    'batter_id':[list(data['items']['item'][0]['batters']['batter'][i].values())[0] for i in range(4)],
    'batter_type':[list(data['items']['item'][0]['batters']['batter'][i].values())[1] for i in range(4)],
    'topping_id':[list(data['items']['item'][0]['topping'][i].values())[0] for i in range(4)],
    'topping_type':[list(data['items']['item'][0]['topping'][i].values())[1] for i in range(4)]
}

batter_df=pd.DataFrame(batter_dict)
batter_df

  item_name batter_id   batter_type topping_id    topping_type
0      Cake      1001       Regular       5001            None
1      Cake      1002     Chocolate       5002          Glazed
2      Cake      1003     Blueberry       5005           Sugar
3      Cake      1004  Devil's Food       5007  Powdered Sugar

In [11]:
batter_df.to_csv('/content/drive/MyDrive/Dataset/cake.csv')

In [14]:
import json

def get_value(data, keys):
    if len(keys) == 1:
        return data.get(keys[0])
    else:
        key = keys[0]
        remaining_keys = keys[1:]
        if isinstance(data, dict):
            if key in data:
                return get_value(data[key], remaining_keys)
        elif isinstance(data, list):
            result = []
            for item in data:
                value = get_value(item, keys)
                if value is not None:
                    result.append(value)
            return result
    return None

# Open the JSON file and load its contents
with open('/content/drive/MyDrive/Dataset/hw_data.json') as json_file:
    data = json.load(json_file)

# Example:Accessing nested data
keys = ['name', 'batter', 'topping']
value = get_value(data, keys)

print('Value:', value)

Value: None

In [15]:
from typing import ItemsView
with open('/content/drive/MyDrive/Dataset/hw_data.json') as json_file:
  df={}

  data = json.load(json_file)
  for i in data:
    items=[data.keys()]

In [16]:
f={"id": "1001", "type": "Regular"}
type(f.keys())

dict_keys