In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
data = pd.read_csv('/content/drive/MyDrive/Dataset/ford.csv')

In [9]:
data.head()

     model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   Fiesta  2017  12000    Automatic    15944   Petrol  150  57.7         1.0
1    Focus  2018  14000       Manual     9083   Petrol  150  57.7         1.0
2    Focus  2017  13000       Manual    12456   Petrol  150  57.7         1.0
3   Fiesta  2019  17500       Manual    10460   Petrol  145  40.3         1.5
4   Fiesta  2019  16500    Automatic     1482   Petrol  145  48.7         1.0

In [11]:
data.isnull().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [14]:
#get Target data
y=data['price']
#load X Variables into Pandas Dataframe with columns
x = data.drop('price',axis=1)

In [15]:
print(f'x:{x.shape}')

x:(17966, 8)

In [18]:
# Devide Data into Train and Test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=101)

In [19]:
print(f'x_train:{x_train.shape}')
print(f'y_train:{y_train.shape}')
print(f'x_test:{x_test.shape}')
print(f'y_test:{y_test.shape}')

x_train:(14372, 8)
y_train:(14372,)
x_test:(3594, 8)
y_test:(3594,)

In [26]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
rf=model.fit(x_train,y_train)

In [30]:
#find the acuracy
rf.oob_score_

In [32]:
print(f'The Train Accuracy :{rf.score(x_train,y_train):.3f}')
print(f'The test Acuracy:{rf.score(x_test,y_test):.3f}')